@charset "utf-8";
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_548264_w6khhmbt45eidx6r.eot');
  src: url('//at.alicdn.com/t/font_548264_w6khhmbt45eidx6r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_548264_w6khhmbt45eidx6r.woff') format('woff'), url('//at.alicdn.com/t/font_548264_w6khhmbt45eidx6r.ttf') format('truetype'), url('//at.alicdn.com/t/font_548264_w6khhmbt45eidx6r.svg#iconfont') format('svg');
  
  /* project id 548264 */
}
[class*=icon-]:before,
[class^=icon-]:after {
  font-family: 'iconfont';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-fdj:before {
  content: "\e617";
}
.icon-home:before {
  content: "\ee8f";
}
.icon-faxian:before {
  content: "\e62c";
}
.icon-youxi:before {
  content: "\e653";
}
.icon-wode:before {
  content: "\e608";
}
.icon-shipin:before {
  content: "\e609";
}
.icon-email:before {
  content: "\e6f7";
}
.icon-setting:before {
  content: "\e662";
}
.icon-edit:before {
  content: "\e687";
}
.icon-zhuanfa:before {
  content: "\e628";
}
.icon-comment:before {
  content: "\e638";
}
.icon-zan:before {
  content: "\e681";
}
